<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PalmaData"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- SplashActivity decide si va a Setup o a Main -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PalmaData">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".censo_enfermedades.CensoEnfermedadesActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf1Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf2Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf3Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf4Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf5Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf6Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf7Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf8Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".censo_enfermedades.CensoEnf0Activity" android:exported="false" android:screenOrientation="portrait" />
        <!-- Tratamientos -->
        <activity android:name=".tratamientos.TratamientosActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat0Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat1Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat2Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat3Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat4Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat5Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat6Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat7Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat8Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".tratamientos.Trat9Activity" android:exported="false" android:screenOrientation="portrait" />
        <!-- Polinización -->
        <activity android:name=".polinizacion.PolinizacionActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli0Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli1Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli2Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli3Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli4Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli5Activity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".polinizacion.Poli6Activity" android:exported="false" android:screenOrientation="portrait" />
    </application>

</manifest>